body {
  display: grid;
  width: 100%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oxygen', sans-serif;
}

.header {
  text-align: center;
  background-color: rgba(28, 156, 16, 0.9);
  height: 100%;
  padding-bottom: 10px;
}

.container {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  height: 100%;
  padding-bottom: 10px;
}

.body-text {
  padding: 20px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

footer {
  text-align: center;
}